# Oracle Database
ORACLE_USER="YOUR_ORACLE_USER"
ORACLE_PASSWORD="YOUR_ORACLE_PASSWORD"
ORACLE_URL="YOUR_ORACLE_URL"

# JWT
JWT_SECRET='YOUR_JWT_SECRET'

# Admin Email (this email gets admin role)
ADMIN_EMAIL=admin@example.com

# Server
PORT=5000
